@using ZhangLe.Resources
@{
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}
<!DOCTYPE html>
<html lang=@Thread.CurrentThread.CurrentCulture.ToString() == "zh" ? "zh" : "en">
<head>
    <title>@Base.Title</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content=@Base.Description name="description">
    <meta name="google" content="notranslate" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/icon.png">
    <link rel="icon" href="/icons/favicon.ico">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <link href="/css/site.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="menu">
                <a href="/" class="logo"><img src="/icons/logo.png" alt="Logo"></a>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">@Base.Home</a></li>
                    <li><a href="~/#about">@Base.About</a></li>
                    <li><a href="~/#experiences">@Base.Experiences</a></li>
                    <li><a href="~/#projects">@Base.Projects</a></li>
                    <li><a href="/resume/@Base.ResumeFile" target="_blank">@Base.Resume</a></li>
                </ul>
                <div class="row-section">
                    <div class="language-switcher">
                        @if (Thread.CurrentThread.CurrentCulture.ToString() == "en")
                        {
                            <a id="lang-switch" asp-controller="Language" asp-action="ChangeLanguage" asp-route-lang="zh">中文</a>
                        }
                        else
                        {
                            <a id="lang-switch" asp-controller="Language" asp-action="ChangeLanguage" asp-route-lang="en">EN</a>
                        }
                    </div>
                    <div class="dropdown-menu">
                        <button class="dropdown-btn">&#9776;</button>
                        <div class="dropdown-content">
                            <a asp-controller="Home" asp-action="Index">@Base.Home</a>
                            <a href="~/#about">@Base.About</a>
                            <a href="~/#experiences">@Base.Experiences</a>
                            <a href="~/#projects">@Base.Projects</a>
                            <a href="/resume/@Base.ResumeFile" target="_blank">@Base.Resume</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="color-bar">
            <div class="color-block site-c1"></div>
            <div class="color-block site-c2"></div>
            <div class="color-block site-c3"></div>
            <div class="color-block site-c4"></div>
        </div>
        @if (currentAction == "Experiences")
        {
            <div class="sub-nav">
                <ul>
                    @for (int i = 10; i > 0; i--)
                    {
                        var expKey = $"Exp{i}Link";
                        var expLink = Experiences.ResourceManager.GetString(expKey);
                        var expNameKey = $"Exp{i}Title";
                        var expName = Experiences.ResourceManager.GetString(expNameKey);
                        var currentPath = Context.Request.Path;
                        if (!string.IsNullOrEmpty(expLink))
                        {
                            <li>
                                <a href="/@expLink" title="" class="@(currentPath == $"/{expLink}" ? "active" : "")">
                                    @expName
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    </header>

    @RenderBody()

    <footer>
        <div class="footer-content">
            <div class="footer-address">
                <p>@Base.Address</p>
                <p>@Base.Telephone</p>
                <p><p><a href="mailto:@(Base.Email)">@Base.Email</a></p>
            </div>
            <div class="footer-social">
                <div class="social-media">
                    <a href="https://github.com/LeEinsteinZhang" target="_blank"> <img src="/icons/github_w.png" alt="GitHub"> </a>
                    <a href="https://www.linkedin.com/in/uw-le-zhang" target="_blank"> <img src="/icons/linkedin_w.png" alt="LinkedIn"> </a>
                </div>
                <p>&copy; 2024 @Base.Author. @Base.CopyRight</p>
            </div>
        </div>
    </footer>

    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
