@using ZhangLe.ViewModels.Shared
@model ItemViewModel


<div class="exp-section">
    <div class="exp-text">
        <p class="exp-name">@Model.Name</p>
        <p class="exp-type">@Model.Type</p>
        <p class="exp-description">@Model.Description</p>
        <p></p>
        <a class="transparent-button" href="@Model.Link"
        @(ViewBag.OpenInNewTab != null && (bool)ViewBag.OpenInNewTab ? "target='_blank'" : "")>
            @ViewBag.Discover
        </a>
    </div>
    <div class="exp-img">
        <img src="@Url.Content("~/" + Model.Image)" alt=@Model.Name>
    </div>
</div>
