<footer>
    <div class="footer-content">
        <div class="footer-address">
            <p><%= content.address %></p>
            <p><%= content.tel %></p>
            <p><a href="mailto:<%= content.email %>"><%= content.email %></a></p>
        </div>
        <div class="footer-social">
            <div class="social-media"> 
                <a href="https://github.com/LeEinsteinZhang" target="_blank"> 
                    <img src="/static/icons/github_w.png" alt="GitHub"> 
                </a> 
                <a href="https://www.linkedin.com/in/uw-le-zhang" target="_blank"> 
                    <img src="/static/icons/linkedin_w.png" alt="LinkedIn"> 
                </a> 
            </div>
            <p>&copy; 2024 <%= content.author %>. <%= content.rights %></p>
        </div>
    </div>
</footer>
